* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    display: inline;
    color: #ffffff;
}

nav {
    display: flex;
    background-color: #1C1E20;
    align-items: center;
}

.nvpart1 {
    margin: 25px;
}

.nvpart2 {
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-grow: 3;
    padding: 0;
}

.nvpart3 {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 900px) {
    .nvpart2 {
        display: none;
    }
    .nvpart3 {
        flex-grow: 1;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
}

a:link {
    text-decoration: none;
}

.cont {
    display: flex;
    position: relative;
    background-image: url(Img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont .bitmap {
    height: 100%;
    width: 100%;
}

.cont .bitmap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(255, 255, 255), #000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: all 0.5s ease-in-out 0.05s;
}

.cont:hover .bitmap::before {
    opacity: 1;
}

.cont .bitmap .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    top: 50%;
    height: 50%;
    padding: 80px;
    z-index: 1;
}

.cont .bitmap .content h2 {
    color: #fff;
    transition: all 0.5s ease-in-out 0.05s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 5vw;
    transform: translateY(200px);
}

.cont .bitmap .content:hover h2 {
    transform: translateY(0);
    transition-delay: 0.1s;
}

.cont .bitmap .content p {
    color: #fff;
    transform: translateY(200px);
    transition: all 0.5s ease-in-out 0.05s;
    font-size: 2.5vw;
}

.cont .bitmap .content:hover p {
    transform: translateY(0);
    transition-delay: 0.1s;
}

.cont .bitmap .back {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    overflow: hidden;
    width: fit-content;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    transition: all 0.5s ease-in-out 0.05s;
}

.cont .bitmap .back img {
    transition: all 0.5s ease-in-out 0.05s;
    width: 5vw;
}

.cont .bitmap .content:hover~.back img {
    width: 10vw;
}

.cont .bitmap .content:not(:hover)~.back:hover img {
    width: 10vw;
}