* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    display: inline;
    color: #ffffff;
}

nav {
    display: flex;
    background-color: #1C1E20;
    align-items: center;
}

.nvpart1 {
    margin: 25px;
}

.nvpart2 {
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-grow: 3;
    padding: 0;
}

.nvpart3 {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 900px) {
    .nvpart2 {
        display: none;
    }
    .nvpart3 {
        flex-grow: 1;
    }
}

footer {
    display: flex;
    background-color: #1C1E20;
    align-items: center;
    justify-content: space-between;
}

.ftpart1 {
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-grow: 3;
    padding: 0;
}

.ftpart2 {
    background-image: url(Icons/Base.svg);
    width: 100px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 100px auto 100px;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.column {
    display: flex;
    flex-direction: column;
}

.block {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    clip-path: inset(6% 6% 6% 6% round 10px);
    transition: all 0.5s ease-in-out 0.05s;
}

.block:hover {
    z-index: 1;
    transform: scale(1.1, 1.1);
}

.imgBox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    mix-blend-mode: multiply;
    background: linear-gradient(180deg, rgb(255, 255, 255), #000);
    transition: all 0.5s ease-in-out 0.05s;
}

.block:hover .imgBox:before {
    opacity: 1;
}

.imgBox img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 85%;
    height: 85%;
}

.content h2 {
    position: absolute;
    left: 8px;
    bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.content p {
    position: absolute;
    bottom: 5px;
    left: 8px;
    color: #ffffff;
    font-size: 14px;
}

a:link {
    text-decoration: none;
}

#text {
    transform: translateY(100px);
    transition: all 0.5s ease-in-out 0.05s;
}

.block:hover #text {
    transform: translateY(0);
    transition-delay: 0.1s;
}

.content img {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 0;
    width: 35px;
    height: 20px;
    transition: opacity 0.5s ease-in-out 0.05s;
    opacity: 0;
}

.content #heart:hover,
#heart:focus,
#heart:visited img {
    filter: brightness(0.5) sepia(1) saturate(10000%);
}

.block:hover #heart img {
    opacity: 1;
}